<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey Result</title>
  
</head>
<body>
  <div class="container">
    <h1>Submitted Info</h1>
    <div class="results" style="margin: 20px;">
      <table style="width: 450px; font-size: 1.3rem;">
        <tr>
          <td>Name: </td>
          <td>@Model.Name</td>
        </tr>
        <tr>
          <td>Dojo Location: </td>
          <td>@Model.Location</td>
        </tr>
        <tr>
          <td>Favorite Language: </td>
          <td>@Model.Language</td>
        </tr>
        <tr>
          <td>Comment: </td>
          <td>@Model.Comment</td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>